@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: steelblue;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}
.middle-screen-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}

.bottom-screen-buttons{
  position: absolute;
  top: 60%;
  right: 48%;
}

.create-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;

}

.btnLink {
    font-family: Oswald;
    background-color: red;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .btnLink:hover {
    background-color: rgb(184, 0, 0);
    color: rgb(0, 0, 0);
    transition: 0.5s;
  }

  fieldset {
    border: 0;
}